body {background-color: #000000;
color: #ffffff
}
h1 {color:#B22222;
  font-weight: bolder;
  font-family: fantasy;
}
h2 {color:#B22222;
  font-family: fantasy;
}
p {font-family: sans-serif;}
li {font-size: 38px;}
